*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* STILI CONTAINER PLAYER */

.container_player{
    height: calc(100vh - 100px);
    display: flex;
}


/* STILI MENU LATERALE */

.menu_music{
    width: 250px;
    height: 100%;
    background-color: black;
}


/* STILI CONTENITORE PRINCIPALE (ALBUM) */

    .main_content{
        flex-grow: 1;
        height: 100%;
        background-color: brown;
    }


/* BARRA CONTROLLI */

.controller{
    height: 90px;
    background-color:rgb(49, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 10px;
}

/* PARTE SINISTRA */

.controller i{
    padding: 10px;
    font-size: 17px;
}

.controller img{
    width: 50px;
    margin-left: 10px;
}

.left_col{
    display: flex;
    align-items: center;
}

.left_col h6{
    font-size: 10px;
    color: white;
}

.content_controller{
    display: flex;
    align-items: center;
    padding-left: 17px;
    color: #988e8e;
}

/* PARTE CENTRALE */

/* linea play */

.center_col {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container_play_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.play_bar{
    height: 4px;
    border-radius: 10px;
    width: 50%;
    background-color: rgb(97, 95, 95);
}

.progress{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: white;
}

/* PARTE DESTRA */

/* linea volume */

.right_col{
    width: 200px;
}

.container__volume{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.volume_bar{
    height: 4px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(97, 95, 95);
    vertical-align: middle;
}


/* **************ANIMAZIONI*************** */

.play_bar:hover .progress{
    background-color: rgb(153, 254, 0);
    position: relative;
}

.play_bar:hover .progress::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(153, 254, 0);
    position: absolute;
    top: -60%;
    left: 97%;
}


.volume_bar:hover .progress{
    background-color: rgb(153, 254, 0);
    position: relative;
}

.volume_bar:hover .progress::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(153, 254, 0);
    position: absolute;
    top: -60%;
    left: 97%;
}


/* VERSIONE MD */






/* VERSIONE S */

@media all and (max-width:700px){
    
    /* CONTOLLER PLAY */

    .controller i{
        padding: 5px;
    }

}


/* VERSIONE XS */

    /* CONTOLLER PLAY */

@media all and (max-width:480px){

    .controller i{
        padding: 2px;
    }

}