*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




/* STILI CONTAINER PLAYER */


.container_player{
    height: calc(100vh - 100px);
    display: flex;
}


/* STILI MENU LATERALE (SIDEBAR) */

#logo_small,.icon_xs{
    display: none;
}


.container_sidebar{
    font-size: 12px;
}

.container_sidebar img,.playlist,.foot_menu{
    margin: 20px;
}

.menu_music{
    min-width: 250px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.menu_music img{
    width: 100px;
}

.home{
    color: gray;
    display: grid;
    gap: 5px;
    margin-top: 15px;
}

.home span{
    padding-left: 20px;
}



.playlist{
    display: grid;
    color: #988e8e;
    gap: 10px;
    padding-top: 20px;
}

.playlist>span{
    color: white;
}

.plus p{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-plus-square{
    color: gray;
    font-size: 37px;
}

.playlist ul li{
    padding-bottom: 15px;
}

ul{
    list-style-type: none;
}


.foot_menu{

    position: absolute;
    bottom: 80px;
    background-color: black;
}

.scrollbar{
    overflow-y: auto;
    height: 200px;
}

#install{
    color: #988e8e;
}

.foot_menu hr{
    width: 200px;
    margin-top: 10px;
}

.foot_menu span{
    color: white;

}

.install{
    display: flex;
    align-items: center;
    margin: -25px -25px;
    padding-top: 10px;
}

/* .install:hover #svg{
    fill: white;
} */

.install span{
   color: #988e8e;
}

.install img{
    width: 10%;
}

.profile{
    display: flex;
    align-items: center;
    margin: -12px -20px;

}

.profile img{
    width: 10%;
    background-color: #988e8e;
    border-radius: 50%;
}





/* STILI CONTENITORE PRINCIPALE (ALBUM) */

    .main_content{
        flex-grow: 1;
        height: 100%;
        background-color:#030b18;;
        overflow: auto;
    }




    /* BARRA UPGRADE */

    .upgrade{
        display: flex;
        height: 70px;
        background-color: rgb(26, 19, 19);
        filter: opacity(0.5);
        justify-content: end;
        align-items: center;
        position: fixed;
        z-index: 500;
        width: calc(100vw - 250px);
    }

    #upgrade_button{
        font-size: 12px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px 15px;
        border-radius: 50px;
        margin-right: 41px;
    }


    /* OPZIONI */

    .option{
       text-align: center;
        margin: 100px 0;
    }

    .option ul li{
        color: #988e8e;
        font-size: 10px;
        display: inline-block;
        padding: 5px;
    }


    /* ALBUM (RIGA DA 6) */

    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    
    .row h3{
        width: 100%;
        padding: 10px;
        color: white;
    }

    .col{
        width: calc(100%/6);
        padding: 20px;
    }

    .row img{
        width: 100%;
    }

    #text{
        text-align: center;
    }

    .col h4{
        color: white;
        font-size: 12px;
        text-align: center;
    }

    .col span{
        color: #988e8e;
        font-size: 10px;
    }


    /* ALBUM A DUE RIGHE */

    .text_coltwo{
        width: 100%;

    }

    .text_coltwo span{
        color: #988e8e;
        font-size: 12px;
        padding: 10px;
    }

    /* ALBUM A DUE RIGHE (tondi) */

    .round{
        object-fit: cover;
        border-radius: 50%;
    }


    /* FOOTER */

/* BARRA CONTROLLI */

.controller{
    height: 100px;
    background-color:rgb(49, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 10px;
    position: relative;
}

/* PARTE SINISTRA */

.controller i{
    padding: 10px;
    font-size: 17px;
}

.controller img{
    width: 50px;
    margin-left: 10px;
}

.left_col{
    display: flex;
    align-items: center;
}

.left_col h6{
    font-size: 10px;
    color: white;
}

.content_controller{
    display: flex;
    align-items: center;
    padding-left: 17px;
    color: #988e8e;
}

/* PARTE CENTRALE */

/* linea play */

.center_col {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container_play_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.play_bar{
    height: 4px;
    border-radius: 10px;
    width: 50%;
    background-color: rgb(97, 95, 95);
}

.progress{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    background-color: white;
}

/* PARTE DESTRA */

/* linea volume */

.right_col{
    width: 200px;
}

.container__volume{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.volume_bar{
    height: 4px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(97, 95, 95);
    vertical-align: middle;
}





/* **************ANIMAZIONI*************** */

:hover{
    cursor: pointer;
}

/* barra player */
.play_bar:hover .progress{
    background-color: rgb(153, 254, 0);
    position: relative;
    cursor: pointer;
}

.play_bar:hover .progress::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -60%;
    left: 97%;
}


.volume_bar:hover .progress{
    background-color: rgb(153, 254, 0);
    position: relative;
}

.volume_bar:hover .progress::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -60%;
    left: 97%;
}

/* sidebar */

.fa-plus-square:hover{
    color: white;
}

.home span:hover{
    color: white;
    border-left: 3px solid greenyellow;
    margin-right: 10px;
}

.playlist li:hover{
    color: white;
}


#alt{
    display: none;
}

.install:hover #main {
    display: none;
}

.install:hover #alt {
    display: inline-block;
}

.install span:hover{
    color: white;
}
.install:hover{
    color: white;
}







/* BUTTON UPGRADE */

#upgrade_button:hover{
    padding: 13px 17px;
    color: white;
}

 /* OPZIONI */
.option ul li:hover{
    border-bottom: 2px solid greenyellow;
    margin-right: 10px;
    color: white;
}

.plus p:hover{
    color: white;
}


/* PLAY IN HOVER */

.play .fa-circle-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}

.play{
    position: relative;
}

.play img:hover{
    filter: opacity(0.5);
}

.play:hover .fa-circle-play{
    display: block;
    color: white;
}

/* ICONE BARRA CONTROLLER */

.fa-folder:hover{
    color: white;
}


.fa-heart:hover{
    color: white;
}

.center_col .fa-circle-play:hover{
    font-size: 20px;
}




/* VERSIONE MD */

@media all and (max-width:900px){
    
    .col{
        width: calc(100%/4);
        padding: 2px;
    }

}




/* VERSIONE S */

@media all and (max-width:600px){
    
    /* CONTOLLER PLAY */

    .controller i{
        padding: 5px;
    }

     /* ALBUM */
    
     .col {
        width: calc(100%/2);
        padding: 10px;
      }

    

}


/* VERSIONE XS */

    /* CONTOLLER PLAY */

@media all and (max-width:480px){

 

    .controller i{
        padding: 2px;
    }


    /* SIDEBAR */

    #logo_small{
        width: 20px;
        display: block;
    }


    .home{
        margin-top: 40px;
    }

    #logo_main{
        display: none;
    }

    .profile img{
        width: 20px;
    }

    .container_sidebar{
        display: flex;
        flex-direction: column;
    }

    .container_sidebar span{
        display: none;
    }


    .container_sidebar i{
        font-size: 20px;
        margin-left: 20px;
        padding-top: 10px;
    }

    .icon_xs{
        display: grid;
        gap: 8px;
        margin-top: -60px;
        font-size: 30px;
    }

    .fa-house{
        color: white;
    }

    .scrollbar,.plus{
        display: none;
    }

    .menu_music{
        display: flex;
        justify-content: center;
        min-width: 40px;
    }

    .menu_music hr{
        display: none;
    }

    .install img{
        width: 30px;
    }


    /* BARRA UPGRADE */
    .upgrade{
        width: calc(100vw - 40px);
    }


    /* ALBUM */
    
    .col {
        width: calc(100%/2);
        padding: 10px;
      }


}


/* BONUS NAV UPGRADE DISAPPEARED*/


@media all and (max-height:250px){
    .upgrade{
        display: none;
    }
}
